/* Arquivos CSS com estilos dos elementos das páginas  */


/* Asterisco é um seletor universal não respeita Ierarquia e aplica a todos os elementos do HTML  */
* {
    box-sizing: border-box;
}


/* Tudo o que estiver dentro dessa RAIZ recebera a mesma configuração */
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body {
    background-color: white;
}

/* Todos que estiverem dentro desse dessa lista abaixo receberam a mesma configuração */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 5px;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: -2px;
}



/* Seletor  elemento 'a'  serve para configurar links*/
a {
    color: #000000;
    text-decoration: none;
}

    /* mouse over link */
    a:hover {
        color: rgba(0, 0, 0, 0.5);
    }


/*SELETOR identificador o valor do ID é exclusivo e não pode se repetir se não da */
#home-link a {
    color: #cc8709;
}

#contato-link a {
    color: #cc8709;
}

.navecacao {
    padding: 5px;
}

/* Style the header */
header {
    background-image: url("../img/matrix.gif");
    background-repeat: repeat-x;
    background-size: 280px 280px;
    /* background-color: white;  */
    background-color: #000000;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 15%;
    font-size: 20px;
    background: #0022;
    display: table;
    display: block;
    height: 100%;
    padding-bottom: 5%;
}

    /* Style the list inside the menu */
     ul {
        list-style-type: none;
        padding: 0;
    }

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: white;
}

/* Clear floats after the columns */
section::after {
    background: #ccc;
    content: "";
    display: table;
    clear: both;
}


.fotoandre {
    background: url("../img/andre.jpg");
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}




/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav article {
        width: 100%;
        height: auto;
    }
}

/*

			top ( cima )
			bottom / inferior ( baixo )
			left ( esquerdo )
			right ( direita )

			*/

form div {
    position: static;
    position: relative; /* pode ser usada como referencia pra outras divs  */
    margin-top: -2px;
    margin-right: 800px;
    width: 50%;
}

/*  Div do formulario de contatos  */
form div {
    /*background: #988;
				border: 0;
				/*border-bottom: 1px solid #33f;
				
				border-top: 1px solid #33f;
				border-left: 1px solid #33f;
				border-right: 1px solid #33f;
				*/

    margin: 2px 5px 5px 5px;
    padding: 6px;
}

/*Preencha os campos abaixo*/
.preencha {
    margin-left: 10px;
    font-size: 15px;
}

/*  Area de escrita  */
[type="text"], [type="email"], textarea {
    width: 80%;
}

/*Area do questionario*/
label {
    position: absolute;
    top: 6px;
    margin-right: -500px;
    font-size: 15px;
}

/*Qual linguagem você prefere?*/
[type="radio"] {
    position: static;
    margin-top: 15px;
}


/*Quais linguagens você sabe?*/
[type="checkbox"], p {
    position: static;
    margin-top: 15px;
}

/*Qual a sua cor favorita?*/
select {
    position: absolute top 15px;
    margin: 25px;
    margin-left: 0px;
}




/*Enviar*/
[type="submit"] {
    margin-top: 10px;
}



/* Tipografia  */


html {
    font-family: Times New Roman;
}


h2 {
    font-family: Limelight, cursive; /*   Front importada do GOOGLE FRONTs  */ /* cursive sere para ele apresentar outra fonte caso não encotre a que eu escolhi */
    font-weight: bold;
}


p {
    font-weight: normal;
    font-size: 1.4rem;
}


li {
    letter-spacing: 1px; /*  Serve para alterar o espaçamento das letras  */
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    letter-spacing: 1px; /*  Serve para alterar o espaçamento das letras  */
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font: 1.2rem sans-serif; /* Forma reduzida de formatar */
}

/*         CORES           */

p {
    color: black;
}


.navegacao {
    background-color: rgba(0, 0, 0, 0.5);
}



    .navegacao li a:hover {
        background-color: rgba(150, 150, 200, .5); /* hover faz a mudança de cor quando passar o mouse */
        color: #333333;
    }


/* Rondapé */
.rodape {
    color: white;
    font-size: 15px;
}

/* Style the footer  RODAPÉ*/
footer {
    background-color: #000000;
    padding: 4px 0;
    text-align: center;
    color: white;
    overflow:overlay;
}

.nome {
    font-size: 20px;
}

.titulo {
    font-size: 20px;
}

.sub-titulo {
    font-size: 15px;
}

.texto {
    font-size: 13px;
}

.contato {
    font-size: 20px;
    margin-left: 10px;
}

.linguagem {
    font-size: 12px;
}

.cade{
    margin-top:-55px;
    margin-left: 450px;
    margin-bottom: -25px;
}

.encontrucao {
    margin-top: -250px;
    margin-left: -20px;
    padding-bottom: 32px;
}

.submit{
    margin-left: 29%;
    margin-top: -7%;
}



@media  (max-width: 425px) {


    .nav,
    .article,
    .coluna {
        width: 100%;
        min-width: 325px;
    }

} 


/* Tablet */
@media (max-width: 768px) {
   
    nav,
    article,
    header{
        width: 100%;
        min-width: 315px;
        font-size: 15px;
    }


    #fotoandre{

        background: url("../img/andre.jpg");
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
    }

    .cade{
        margin-top:-55px;
        margin-left: 150px;
        margin-bottom: -25px;
    }
    .submit {
        margin-top: -70px;
        margin-left: 31%;

    }
}

 /* Smartphone */
@media  (max-width: 425px) {  /* Enquanto a tela for inferior ou igual a essa resolução */

    nav,
    article,
    header{
        width: 100%;
        min-width: 315px;
        font-size: 12px;
    }


    #fotoandre{

        background: url("../img/andre.jpg");
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
    }

    .submit {
        margin-top: -70px;
        margin-left: 40%;

    }

    form div {

        width: 70%;
    }

    .cade{
        margin-top:-55px;
        margin-left: 30px;
        margin-bottom: -25px;
    }

} 